@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Trang chủ";
}

<div class="Od Se">
    @await Component.InvokeAsync("Carousel")
    @await Component.InvokeAsync("NewProduct")
    @await Component.InvokeAsync("TopSoldProduct")
    @await Component.InvokeAsync("TopViewProduct")
</div>