@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="Nd Od Se">
    @* <div class="a">
        <div class="ta gc Pe">
            <div class="Ye va Ng"><div class="ta ec za Fc qd Vd xc Sc"></div></div>
            <div class="af gh">
                <div class="lf kf jf xc rc">
                    <div class="m z rc">
                        <div class="ta db za" style="transform: translateX(-100%);">
                            <div class="af Ub">
                                <a target="_blank" rel="noreferrer" data-ea="home_slide_click__0"><img class="db za" /></a>
                            </div>
                            <div class="af Ub">
                                <a target="_blank" rel="noreferrer" data-ea="home_slide_click__0"><img class="db za" /></a>
                            </div>
                            <div class="af Ub">
                                <a target="_blank" rel="noreferrer" data-ea="home_slide_click__0"><img class="db za" /></a>
                            </div>
                        </div>
                        <button type="button" class="q I"><div class="fb Ba hd jd ld nd of sa"></div></button><button type="button" class="q J"><div class="fb Ba id jd ld nd of sa"></div></button>
                        <div class="y I J K ta mc"><div class="r gb pe"></div></div>
                    </div>
                </div>
            </div>
            <div class="af dh">
                <div class="ta gc Pe">
                    <div class="_e kh ra">
                        <a target="_blank" rel="noreferrer" class="lf if hf ra" data-ea="home_banner_click__0"><img class="xc" /></a>
                    </div>
                    <div class="_e kh ra">
                        <a target="_blank" rel="noreferrer" class="lf if hf ra" data-ea="home_banner_click__1"><img class="xc" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Nd">
            <div class="ta gc Pe">
                <div class="_e kg">
                    <a target="_blank" rel="noreferrer" class="lf if hf ra" data-ea="home_banner_click__2"><img class="xc" /></a>
                </div>
                <div class="_e kg">
                    <a target="_blank" rel="noreferrer" class="lf if hf ra" data-ea="home_banner_click__3"><img class="xc" /></a>
                </div>
                <div class="_e kg">
                    <a target="_blank" rel="noreferrer" class="lf if hf ra" data-ea="home_banner_click__4"><img class="xc" /></a>
                </div>
                <div class="_e kg">
                    <a target="_blank" rel="noreferrer" class="lf if hf ra" data-ea="home_banner_click__5"><img class="xc" /></a>
                </div>
            </div>
        </div>
    </div> *@
    @await Component.InvokeAsync("NewProduct")
    @await Component.InvokeAsync("TopProduct")
    @* <div class="a Re">
        <div class="Ce">
            <div class="ta nc Ke">
                <h4>Sản phẩm nổi bật</h4>
                <a class="b c ta jc Gd Ga" href="search/featured.html">Khám phá</a>
            </div>
            <div class="fe">Danh sách những sản phẩm theo xu hướng mà có thể bạn sẽ thích</div>
        </div>
        <div style="min-height: 460.71px;"></div>
    </div>
    <div class="a Oe">
        <h4>Từ khóa nổi bật</h4>
        <div>
            <div class="ta gc Pe">
                <h6 class="Ze ig">
                    <a target="_blank" rel="noreferrer" class="b lf gf ef xc je ra" style="background-color: #3d5a80;"><div class="ta mc jc"></div></a>
                </h6>
                <h6 class="Ze ig">
                    <a target="_blank" rel="noreferrer" class="b lf gf ef xc je ra" style="background-color: #98c1d9;"><div class="ta mc jc"></div></a>
                </h6>
                <h6 class="Ze ig">
                    <a target="_blank" rel="noreferrer" class="b lf gf ef xc je ra" style="background-color: #ee6c4d;"><div class="ta mc jc"></div></a>
                </h6>
                <h6 class="Ze ig">
                    <a target="_blank" rel="noreferrer" class="b lf gf ef xc je ra" style="background-color: #293241;"><div class="ta mc jc"></div></a>
                </h6>
                <h6 class="Ze ig">
                    <a target="_blank" rel="noreferrer" class="b lf gf ef xc je ra" style="background-color: #545b67;"><div class="ta mc jc"></div></a>
                </h6>
                <h6 class="Ze ig">
                    <a target="_blank" rel="noreferrer" class="b lf gf ef xc je ra" style="background-color: #767c85;"><div class="ta mc jc"></div></a>
                </h6>
            </div>
        </div>
    </div> *@@* 
    <div class="je Od md nd zh" style="padding-top: 11rem; background-color: #000d21; background-image: url(%27/static/0de2668c294edf9d5fd8a8647b2c65b6.html);">
        <div class="a Re">
            <div class="Ce">
                <div class="ta nc Ke">
                    <h4>
                        <div class="ta jc qa Fc Pc Bd Ed zc ed Ee">
                            <img loading="lazy" src="https://cdn.divineshop.vn/static/1478de4bf059d759990c4849f3c3e8ce.svg" class="bb wa" alt="Sản phẩm bán chạy nhất" />
                            <div class="vc rc tc">#<!-- -->Sản phẩm bán chạy nhất</div>
                        </div>
                    </h4>
                    <a class="b c ta jc Gd Ga" href="search/trending.html">Khám phá</a>
                </div>
            </div>
            <div style="min-height: 460.71px;"></div>
        </div>
    </div>
    <div class="a Oe">
        <h4>Giá phù hợp</h4>
        <div>
            <div class="ta gc Pe">
                <h6 class="Ze ig">
                    <a class="b lf gf ef Fc xc Sc ra" href="search3528.html?price_to=20000"><div class="ta mc jc">20.000đ</div></a>
                </h6>
                <h6 class="Ze ig">
                    <a class="b lf gf ef Fc xc Sc ra" href="search68f6.html?price_to=50000"><div class="ta mc jc">50.000đ</div></a>
                </h6>
                <h6 class="Ze ig">
                    <a class="b lf gf ef Fc xc Sc ra" href="search8519.html?price_to=100000"><div class="ta mc jc">100.000đ</div></a>
                </h6>
                <h6 class="Ze ig">
                    <a class="b lf gf ef Fc xc Sc ra" href="searchd44e.html?price_to=200000"><div class="ta mc jc">200.000đ</div></a>
                </h6>
                <h6 class="Ze ig">
                    <a class="b lf gf ef Fc xc Sc ra" href="search710b.html?price_to=500000"><div class="ta mc jc">500.000đ</div></a>
                </h6>
                <h6 class="Ze ig">
                    <a class="b lf gf ef Fc xc Sc ra" href="search813e.html?price_to=1000000"><div class="ta mc jc">1.000.000đ</div></a>
                </h6>
            </div>
        </div>
    </div>
    <div class="a Re">
        <div class="Ce">
            <div class="ta nc Ke">
                <h4>Game trên Steam</h4>
                <a class="b c ta jc Gd Ga" href="search/steam.html">Khám phá</a>
            </div>
            <div class="fe">Những trò chơi được đánh giá tốt, nội dung hấp dẫn thu hút đang chờ bạn</div>
        </div>
        <div style="min-height: 460.71px;"></div>
    </div>
    <div class="a Re">
        <div class="Ce">
            <div class="ta nc Ke">
                <h4>Học tập</h4>
                <a class="b c ta jc Gd Ga" href="search/hoc-tap.html">Khám phá</a>
            </div>
        </div>
        <div style="min-height: 460.71px;"></div>
    </div>
    <div class="a Re">
        <div class="Ce">
            <div class="ta nc Ke">
                <h4>Giải trí</h4>
                <a class="b c ta jc Gd Ga" href="search/giai-tri.html">Khám phá</a>
            </div>
        </div>
        <div style="min-height: 460.71px;"></div>
    </div>
    <div class="a Re">
        <div class="Ce">
            <div class="ta nc Ke">
                <h4>Làm việc</h4>
                <a class="b c ta jc Gd Ga" href="search/lam-viec.html">Khám phá</a>
            </div>
        </div>
        <div style="min-height: 460.71px;"></div>
    </div> *@
</div>