@model IEnumerable<DACN_DVTRUCTUYEN.Models.Product_Key>

@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle">
    <h2>Danh sách khóa/tài khoản bán của sản phẩm</h2>
</div>

<p>
    <a type="button" class="btn btn-warning">
        Bạn chỉ có thể thêm khóa sản phẩm từ trang chi tiết của loại sản phẩm đó
    </a>
</p>
<p>
    <a type="button" class="btn btn-success" href="/admin/productoptions">
        <i class="bi bi-file-earmark-text me-1">
            Tới trang quản lý loại của sản phẩm
        </i>
    </a>
</p>
<section class="section dashboard">
    <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body mt-4">
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th class="col-1 ">Mã SP</th>
                                <th class="col-1 ">Mã lựa chọn</th>
                                <th class="col-3 ">Key1</th>
                                <th class="col-2 ">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="" scope="row">@item.ProductID</td>
                                    <td class="">@item.OptionValue</td>
                                    <td class="">@item.Key1</td>
                                    <td class="">
                                        <a href="/admin/productkeys/edit?productid=@item.ProductID&optionvalue=@item.OptionValue&key1=@item.Key1" class="btn btn-primary btn-sm" title="Sửa">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a href="/admin/productkeys/delete/@item.ProductID/@item.OptionValue/@item.Key1" class="btn btn-danger btn-sm" title="Xoá">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
