@model User
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h2>Xác nhận đặt lại mật khẩu User</h2>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="UserId">UserId</label>
        <input type="text" class="form-control mb-3" asp-for="UserId" disabled>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="Name">Tên hiển thị</label>
        <input type="text" class="form-control mb-3" asp-for="Name" disabled>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="Email">Email</label>
        <input type="text" class="form-control mb-3" asp-for="Email" disabled>
    </div>
</div>
<!--Begin form-->
<form asp-action="ResetPassWord" method="post">
    <input type="hidden" asp-for="UserId" />
    <a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
        <i class="bi bi-arrow-left-circle"></i>Quay lại
    </a>
    <button type="submit" class="btn btn-lg p-2" style="background-color:seagreen;">
        <img src="https://cdn-icons-png.flaticon.com/512/11135/11135322.png" style="width:30px; height:30px" />Đặt lại mật khẩu
    </button>
</form>
