@using System.Web;
@{
    string? now = Context.Request.Path.Value;
    Context.Request.Cookies.TryGetValue("username", out string username);
    username = HttpUtility.UrlDecode(username);
    string topricestr(int number)
    {
        string result = number.ToString();
        int num = result.Length;
        while (num > 3)
        {
            result = result.Insert(num - 3, ".");
            num -= 3;
        }
        return result;
    }
}
<header>
    <div class="Ad Wc je" style="max-height:120px;">
        <div class="a Oe" style="margin-top:-30px">
            <div class="ta nc jc Pe">
                <a class="Ub m va Og He jc je uf" title="Trang chủ" href="/User">
                    <img loading="lazy" src="~/Logo.png" class="b lb Ha Ff">
                    <h4 class="va Ng vc"> DB Shop </h4>
                </a>
                <div class="ra Pg">
                    <button type="button" class="b zd xc" title="Trình đơn">
                        <svg class="od kb Ga" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path>
                        </svg>
                    </button>
                </div>
                <div class="mb">
                    <div class="z">
                        <div class="ta">
                            <input type="search" class="g border-none Cc le searchbox" onchange="textchange();" onpaste="this.onchange();" oninput="this.onchange();" placeholder="Tìm kiếm sản phẩm" autocomplete="off" value="">
                            <button type="button" class="b c Vc Dc xe" aria-label="Search"><svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"></path></svg></button>
                        </div>

                        <div class="y B U">
                            <div class="ra" style="border-radius:10px; background-color:white;">
                                <div class="fe" style="display:flex;align-items: baseline;flex-direction: column;" id="resultsearch"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="Ub" style="margin-left:100px">
                    <a class="ta b c mc jc Ee Fc Pc Wc xc" href="/user/cart">
                        <svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M551.991 64H144.28l-8.726-44.608C133.35 8.128 123.478 0 112 0H12C5.373 0 0 5.373 0 12v24c0 6.627 5.373 12 12 12h80.24l69.594 355.701C150.796 415.201 144 430.802 144 448c0 35.346 28.654 64 64 64s64-28.654 64-64a63.681 63.681 0 0 0-8.583-32h145.167a63.681 63.681 0 0 0-8.583 32c0 35.346 28.654 64 64 64 35.346 0 64-28.654 64-64 0-18.136-7.556-34.496-19.676-46.142l1.035-4.757c3.254-14.96-8.142-29.101-23.452-29.101H203.76l-9.39-48h312.405c11.29 0 21.054-7.869 23.452-18.902l45.216-208C578.695 78.139 567.299 64 551.991 64zM208 472c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm256 0c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm23.438-200H184.98l-31.31-160h368.548l-34.78 160z"></path>
                        </svg><div class="va ug">Giỏ hàng</div><div class="Fc Kd yc le Sc" id="cartcount">CARTCOUNT</div>
                    </a>
                </div>
                <div class="Ub va vg mc nb vc">
                    <div class="Nb ta jc He">
                        <div class="prfbutton z db za">
                            <button type="button" class="Nb ta jc He Zd dd" onclick="userprofilehover()"><img loading="lazy" src="~/avatar-kh.png" class="tb La zc te" alt="Ảnh đại diện"><div class="rc tc">@username</div></button><div class="y B H Aa U" id="userprofileclick"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="va Ng Jc Ed Sc" style="height:15px">
        @* <div class="a">
        <div class="ta Qe nc jc">
        <div>
        <div class="z db za">
        <button type="button" class="ta He jc">
        <svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path>
        </svg>
        <div class="Zd">Danh mục sản phẩm</div>
        </button>
        </div>
        </div>
        <div class="ta Qe">
        <a href="/User/chinh-sach-vip" target="_blank" rel="noreferrer" class="ta jc He Zd">
        <img loading="lazy" src="~/assets/images/VIP-User.svg" class="Ub ob Ja yc" alt="Ưu đãi khách hàng VIP">
        <div>Ưu đãi khách hàng VIP</div>
        </a>
        </div>
        </div>
        </div> *@
    </div>
</header>
<script>
    let timeoutId;
    function textchange(event) {
        clearTimeout(timeoutId); // Xóa timeout hiện tại (nếu có)
        timeoutId = setTimeout(() => {
            // Gọi hàm sau 0.3 giây
            console.log('Người dùng đã dừng gõ.');
            // Thay thế dòng trên bằng hàm hoặc logic của bạn

            var result = document.getElementById("resultsearch");
            result.innerHTML = "";
            // Gửi yêu cầu GET đến URL
            fetch("/user/product/like/" + $(".g.border-none.Cc.le.searchbox").val())
                .then(response => response.json())
                .then(data => {
                    // Thêm nội dung đã lấy vào phần tử có id là 'resultsearch'
                    data.forEach(function (item) {
                        var productImg = item.productImg;
                        if (!productImg.toLowerCase().startsWith("http")) productImg = "/" + productImg;
                        result.innerHTML += `<a href="/user/product/${item.productID}" class="xd " style="padding-left:8%;display: flex;width:99%;flex-direction: row;justify-content: flex-start;"><img style="max-width:50px;max-heigh:50px;margin-right:4%;" class="onerror-img kourain-img" src="${productImg}"></img> ${item.productName}</a>`;
                    });
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }, 400); // 300 ms = 0.3 giây
    }
    function userprofilehover() {
        fetch("/user/totalpaid")
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Process the retrieved user data
                // console.log('User Data:', data);
                if (data.code == 1) {
                    $("#userprofileclick").html(`<div class="ta mc Rd le" style="margin-top:-40px"><div class="ta yb Nb lc"><div class="Lb sd xc Ie Sc we">` +
                        `<div><div>Số tiền đã sử dụng</div><div class="ta jc"><h6>${data.messenger.toLocaleString()}đ</h6></div></div><div><div class="V">` +
                        `<a class="ra qd xc uf rf" href="/user/profile">Quản lý tài khoản</a>` +
                        `<a class="ra qd xc uf rf" href="/user/ordershistory">Lịch sử đơn hàng</a>` +
                        `<a class="ta db qd xc uf rf" href="/user/logout">Đăng xuất</a></a></div></div></div></div></div>`);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    function resetcart() {
        fetch("/user/cart/get_cart_count")
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Process the retrieved user data
                // console.log('User Data:', data);
                if (data.code == 1) {
                    $("#cartcount").html(data.messenger);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    resetcart();
    setInterval(resetcart, 10000);
</script>