@model ProductOption

@{
    ViewData["Title"] = "Edit";
}

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>sửa lựa chọn sản phẩm </h2>
    </div>
    <form method="post" asp-action="Edit">
        <div asp-validation-summary="All"></div>
        <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="ProductID">Tên sản phẩm</label>
                <select asp-for="ProductID"
                        class="form-control mb-3" asp-items="@(new SelectList(ViewBag.productList, "Value", "Text"))">
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="OptionName">Tên lựa chọn</label>
                <input type="text" class="form-control mb-3" asp-for="OptionName" placeholder="Nhập tên lựa chọn" required>
                <span asp-validation-for="OptionName" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="OptionValue">Mã lựa chọn</label>
                <input type="text" class="form-control mb-3" asp-for="OptionValue" placeholder="Nhập mã lựa chọn" required>
                <span asp-validation-for="OptionValue" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Quantity">Số lượng</label>
                <input type="number" class="form-control mb-3" asp-for="Quantity" placeholder="Nhập số lượng hiện có" required>
                <span asp-validation-for="Quantity" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="SoldCount">Đã bán</label>
                <input type="number" class="form-control mb-3" asp-for="SoldCount" disabled readonly>
                <span asp-validation-for="SoldCount" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PriceOld">Giá gốc(giá cũ)</label>
                <input type="number" class="form-control mb-3" asp-for="PriceOld" placeholder="Nhập giá gốc(giá cũ)">
                <span asp-validation-for="PriceOld" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PriceNow">Giá bán ra(giá mới)</label>
                <input type="number" class="form-control mb-3" asp-for="PriceNow" placeholder="Nhập giá bán ra(giá mới)">
                <span asp-validation-for="PriceNow" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Type">Loại</label>
                <input type="number" class="form-control mb-3" asp-for="Type" placeholder="Nhập loại">
                <span asp-validation-for="Type" class=" alert-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Lưu</button>
        <a asp-controller="ProductOptions" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
    </form>
</div>

