@model Product

@{
    ViewData["Title"] = "Edit";
}

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Sửa sản phẩm</h2>
    </div>
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="ProductID">Mã sản phẩm</label>
                <input asp-for="ProductID" class="form-control mb-3" class="form-control" required />
                <span asp-validation-for="ProductID" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ProductName">Tên sản phẩm</label>
                <input type="text" class="form-control mb-3" asp-for="ProductName" placeholder="Nhập tên sản phẩm" required>
                <span asp-validation-for="ProductName" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ProductDescription">Mô tả</label>
                <textarea type="text" class="form-control mb-3" style="height:200px" asp-for="ProductDescription" placeholder="Nhập mô tả" required></textarea>
                <span asp-validation-for="ProductDescription" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CreateDate">Thời điểm tạo</label>
                <input class="form-control mb-3" asp-for="CreateDate" placeholder="" required disabled readonly>
                <span asp-validation-for="CreateDate" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ViewCount">Số lượt xem</label>
                <input type="number" class="form-control mb-3" asp-for="ViewCount" placeholder="Số lượt xem" disabled readonly>
                <span asp-validation-for="ViewCount" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label>Hình ảnh sản phẩm, nhập đường dẫn hoặc chọn 1 tệp để tải lên(tối đa 5MB)</label>
                <input type="text" class="form-control mb-3" asp-for="ProductImg" placeholder="Link tới hình ảnh">
                <input type="file" class="form-control mb-3" name="FormFile" id="FormFile" accept="image/*" maxlength="5242880">
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Lưu</button>
        <a asp-controller="Products" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
    </form>
</div>
