<div class="je Od md nd zh" style="padding-top:11rem;background-color:#000d21;background-image:url(' ')">
    <div class="a Re" style="margin-bottom:10px">
        <div class="Ce" style="margin-top:-90px">
            <div class="ta nc Ke">
                <h4>
                    <div class="ta jc qa Fc Pc Bd Ed zc ed Ee">
                        <img loading="lazy" src="~/assets/images/stonk.svg" class="bb wa" alt="Sản phẩm bán chạy nhất">
                        <div class="vc rc tc">Những sản phẩm bán chạy nhất</div>
                    </div>
                </h4>
            </div>
        </div>
        <div class="ta ec kc Jc Qd Le">
            <div class="ta gc Pe" id="newproduct">
            </div>
            <div class="ta mc clearbutton" style="margin-top:40px">
                <button type="button" onclick="topSoldProduct_loadmore()" class="b ta Ee ge Zd">
                    <div>Xem thêm</div>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    var topSoldProductCount = 0;
    function topSoldProduct_loadmore() {
        if (topSoldProductCount == 3) $(".ta.mc.clearbutton").html("");
        fetch('/user/product/getproduct/top/' + topSoldProductCount)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Máy chủ không phản hồi!');
                }
                return response.json();
            })
            .then(data => {
                data.forEach(function (item) {
                    var discount = Math.round((1 - item.priceNow / item.priceOld) * 100);
                    var htmlval = `
                        <div class="_e mg dh">
                                <a class="lf gf ff ra" tabindex="-1" href="/user/product/${item.productID}/${item.optionValue}">
                                <img src="${item.productImg}" class="xc" alt="${item.optionName}" />
                                    <a class="Ua Ra bf ia rc tc ra" href="/user/product/${item.productID}">${item.productName} - ${item.optionName}</a>
                                <div class="ta Ua ja">
                                    <div class="Vb ta gc De jc">
                                        <div class="Zd">${item.priceNow} đ</div>
                                        <div class="ie Zd me">${item.priceOld} đ</div>
                                        <div>
                                            <small class="Zd aa Id Jd xc _c ke">-${discount}%</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>`;
                    document.getElementById("newproduct").innerHTML += htmlval;
                });
                if (data.length == 0) {
                    topSoldProductCount = 3;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        topSoldProductCount++;
    }
    topSoldProduct_loadmore();
</script>